/*
    Estilo landing page CicloBike
*/

:root {
    --purple: #3c9455;
}

nav.navbar {
    background: var(--#3c9455);
}
nav.navbar figure img {
    /* width: 1px;
    max-height: fit-content;
    object-fit: cover; */
    width: 10px;
    height: 10px;
    object-fit: cover;
    flex: 0 0 80px;
    margin-right: 20px;
}

.row {
    --bs-gutter-x: 0 !important;
}
.header {
    width: 100%;
    background-color: #3c9455;
    padding: 10px;
    margin-bottom: 1rem;
}
.header-logo {
    width: 3rem;
    height: auto;
}
#menutoggle {
    display: none;
}
.menu {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background: rgba(0, 0, 0, 0.8);
    border-color: rgb(187, 187, 187);
    border-style: groove;
    overflow: hidden;
    transition: height 0.4s;
}
.menu li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
}
.menu li a {
    display: block;
    text-align: center;
    width: 100%;
}
.menu-icon {
    display: block;
    color: white;
    width: 50px;
    height: inherit;
    position: absolute;
    top: 15px;
    right: 0px;
    line-height: 60px;
    z-index: 1000;
}
.menu-icon i {
    font-size: 1.7em;
}
#menutoggle:checked ~ label i:nth-child(2) {
    display: block;
}
#menutoggle:not(checked) ~ label i:first-child {
    display: block;
}
#menutoggle:checked ~ label i:first-child {
    display: none;
}
#menutoggle:not(checked) ~ label i:nth-child(2) {
    display: none;
}
#menutoggle:checked ~ ul {
    height: 100%;
    border-radius: 2rem;
}
.ciclista {
    margin-bottom: auto;
    float: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.baixe-aqui {
    padding: 10px;
    color: #3c9455;
    background-color: none;
    margin: 10px;
    width: 30%;
}
.logo-bt {
    display: block;
    width: 100%;
    padding: 10px;
}
.logo-sobre {
    width: 80%;
    align-content: center;
    margin-top: 3rem;
}

.footer {
    background-color: #3c9455;
    color: white;
    padding: 10px;
    max-width: 100%;
}
.footer p {
    max-width: 100%;
    font-size: 9pt;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.footer img {
    margin-bottom: auto;
    float: left;
    width: 30%;
    object-fit: cover;
    display: flex;
    margin: 0;

    /* max-width: 30%;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center; */
}

h2 {
    text-align: left;
}

.conteiner {
    margin-bottom: 0.5rem;
}

.container.sobre {
    float: left;
}
.conteiner.ciclista {
    float: right;
    margin-right: 0%;
}

.footer .container-fluid {
    display: block;
}

#informacoes {
    margin-top: 3rem;
}

button.btn {
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-primary {
    color: #fff;
    background-color: #3c9455;
    border-color: #3c9455;
}
.logomarca.img {
    max-width: 1rem;
    align-items: flex-end;
}

/*
    Estilo do Header/menu
*/

nav.navbar {
    background: var(--#3c9455);
}
nav.navbarfigure img {
    object-fit: cover;
}

/*
    Estilo do rodapé
*/


footer {
    background: #3c9455;
}
footer figure {
    max-width: 5px;
    width: 1%;
    object-fit: cover;
    aspect-ratio: 1:6,3;
}

body > footer > div > div > figure > img{
    width: 1px;
    max-height: fit-content;
    object-fit: cover;
}
